<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        .success {
            color: green;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h2>Profile Page</h2>
    <h2>Welcome {{request.user}}</h2>

    {% if messages %}
    {% for message in messages %}
    <small {% if message.tags %} class="{{message.tags}}" {% endif %}> {{message}} </small>
    {% endfor %}
    {% endif %}

    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors%}
        {% for error in form.non_field_errors %}
        <p class="error">{{error}}</p>
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br><br>
        {% endfor %}
        <button type="submit">Update</button>
    </form>
    
    <a href="{% url 'changePassword' %}">Change Password</a> <br>
    <a href="{% url 'forgetPassword' %}">Forget Password?</a> <br>
    <a href="{% url 'logout' %}">Logout</a> 
</body>
</html>