{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section id="main-content">
            <section class="wrapper">
  
                <div class="row">
                    <div class="col-lg-9 main-chart">
                    
                    
                        <div class="col-md-2 col-sm-2 box0">
                          <div>
                   
                    </div></div>
                    <div class="col-md-2 col-sm-2 box0">
                        <div class="box1">
                            <span class="li_news"></span>
                                                            <h3>0</h3>
                        </div>
                            <p>0 Complaints not Process yet</p>
                    </div>
                

                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
            <span class="li_news"></span>
                                <h3>0</h3>
                  </div>
            <p>0 Complaints Status in process</p>
                </div>

                <div class="col-md-2 col-sm-2 box0">
                  <div class="box1">
            <span class="li_news"></span>
                                   <h3>0</h3>
                  </div>
            <p>0 Complaint has been closed</p>
                </div>

                
                
                </div><!-- /row mt -->

            </section>
        </section>

{% endblock content %}